body.signin-body {
  background: #346f5c;
}

.container.signin-container {
  margin-top: 8%;
}

.signin-card {
  padding: 40px 0px 20px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}

form.signin-form {
  max-width: 350px;
  margin: auto;
}

input[type="email"],
input[type="password"] {
  background: #e5efec;
}

button.signin-btn {
  color: white;
  background: #355144;
  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
  color: white;
}

a {
  text-decoration: none;
}